body {
    font-family: "Open Sans", sans-serif;
    background-color: #3A1D70;
    position: relative;
    min-height: 100%;
    margin: 0;
}

/**
  * Header
  */
.logo {
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo img {
    display: block;
    margin: 0 auto;
}

.title {
    height: 36px;
    with: 240px;
    color: #9066E0;
    font-size: 13px;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
}

.title-1, .title-2 {
    text-transform: uppercase;
}

.title-1 {
    color: #FFFFFF;
}

/**
 * Body
 */

/*Home page*/
.upload-media, .video-stream {
    background-image: url("../img/bg_button.png");
    background-size: auto;
    width: 162px;
    height: 162px;
    margin: 0 auto;
}

.upload-media img, .video-stream img {
    margin: 63px;
}

.upload-media {
    float: left;
}

.video-stream {
    float: right;
}

.choose-option a {
    float: left;
}

.choose-option a:link {
    color: #FFFFFF;
}

.choose-option a:hover {
    text-decoration: none;
}

.choose-option {
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.choose-option p {
    text-align: center;
    padding: 16px;
}

/*Slide show*/
section {
    position: relative;
}

.slick-slide {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
}

.slick-slide.slick-center {
    opacity: 1;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.switch {
    background: #000;
}

.slider {
    margin: 0 auto;
    position: relative;
}

.slider:after,
.slider:before {
    content: "";
    background: #FAFAFA;
    position: absolute;
    top: 0;
    width: 12%;
    z-index: 100;
}

.slider:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.slider:before {
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.img-box {
    border: 1px solid;
    margin: 50px 0;
}

.img-box img {
    width: 100%;
}

.slideshow {
    margin-top: 60px;
}

/*End slideshow*/

.image-show {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 22% !important;
}

#js-upload-form {
    padding-bottom: 10px;
}

.loader {
    border: 16px solid #3A1D70;
    border-radius: 50%;
    border-top: 16px solid #FFFFFF;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 180px auto 0;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.progress {
    display: none;
    width: 640px;
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
}

.upload-drop-zone {
    color: #ccc;
    border: dashed #ccc;
    line-height: 450px;
    text-align: center;
    height: 480px;
    width: 640px;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.img-response {
    display: none;
}

.upload-button {
    width: 275px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    float: left;
}

.upload-button img, .upload-button span {
    float: left;
}

.upload-button img {
    margin: 5px;
}

.upload-button span {
    padding: 9px 0 0 10px;
    color: #4C2891;
}

.share-save {
    float: right;
    width: 275px;
    height: 50px;
    margin-right: 12px;
    margin-top: -5px;
    color: #FFFFFF;
}

.share-upload-imae {
    float: right;
    margin-top: 4px;
}

.save {
    float: left;
    margin-top: 14px;
    margin-left: 45px;
}

.save a:link, .save a:visited {
    color: #FFFFFF;
}

.share-upload-imae img, .share-upload-imae span {
    width: 43px;
    height: 43px;
    margin-left: 5px;
}

.share-save > span {
    float: left;
    margin-top: 14px;
    margin-left: 12px;
}

.share-upload-imae img {
    border-radius: 5px;
}

#js-upload-files {
    display: none;
}

#download-image img {
    margin-right: 5px;
    margin-top: -4px;
}

/**
  * Footer
  */
#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.privacy {
    height: 40px;
    width: 410px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.privacy a:link {
    text-decoration: underline;
}

.term-of-use {
    width: 100%;
    background: #4C2891;
    display: block;
    margin: 0 auto;
    height: 35px;
    text-align: center;
}

.term-of-use p {
    padding-top: 6px;
    color: #FFFFFF;
}

#footer a:link {
    color: #FFFFFF;
}

a.btn-social,
.btn-social {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    margin: 8px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
}

.btn-social .fa, .btn-social i {
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}

.btn-social:hover, .btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.btn-social:hover .fa, .btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}

.btn-social.btn-xs {
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}

.btn-social.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}

.btn-social.btn-lg {
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #4c70ba;
}

.btn-twitter {
    background-color: #55acee;
}

.btn-twitter:hover {
    background-color: #83c3f3;
}

.btn-skype {
    background-color: #00aff0;
}

.btn-skype:hover {
    background-color: #24c4ff;
}

.btn-email {
    background-color: #44c456;
}

.btn-email:hover {
    background-color: #6bd079;
}

