<div id="footer">
    <div class="privacy">
        We respects your <a href="#">privacy.</a>
        <br>
        Photos are not stored online unless you choose to share them.
    </div>
    <div class="share">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="#" target="_blank" class="btn-social btn-facebook"><i
                            class="fa fa-facebook"></i></a>

                    <a href="#" target="_blank" class="btn-social btn-twitter"><i
                            class="fa fa-twitter"></i></a>

                    <a href="#" target="_blank" class="btn-social btn-skype"><i
                            class="fa fa-skype"></i></a>

                    <a href="#" target="_blank" class="btn-social btn-email"><i
                            class="fa fa-envelope"></i></a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="term-of-use">
        <p>
            <a href="#">Privacy & Cookies</a> | <a href="#">Terms of Use</a>
        </p>
    </div>
</div>