<div id="header">
    <div class="logo">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
    </div>
    <div class="title">
        <p class="title-1">Face recognition age estimation</p>
        <p class="title-2">Demo project</p>
    </div>
</div>