{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-5 choose-option">

            <div class="upload-media">
                <a href="{{ url_for('uploader_image') }}">
                    <img src="{{ url_for('static', filename='img/ic_photo_home.png') }}" alt="" height="46px" width="56px">
                    <p>Upload your Photo or Video</p>
                </a>
            </div>

            <div class="video-stream">
                <a href="{{ url_for('stream') }}">
                    <img src="{{ url_for('static', filename='img/ic_shutter_home.png') }}" alt="" height="50px" width="50px">
                    <p>Video Stream</p>
                </a>
            </div>

        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div class="slideshow">
    {% include "slideshow.html" %}
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
</div>
{% endblock %}