{% extends "layout.html" %}
{% block title %}
    Upload Media File !!
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="image-show col-md-7  col-md-offset-2">
                <div class="image-result">
                    <div class="upload-drop-zone" id="drop-zone">
                        <div class="loader"></div>
                        <span class="upload-media-title">Please upload media file</span>
                    </div>
                    <img id="img-response" src="#" alt="" width="640px" height="480px">
                </div>
                <div>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <label class="btn btn-default upload-button">
                            <img src="{{ url_for('static', filename='img/ic_photo_home.png') }}" alt="" height="30px" width="35px">
                            <span>Upload Photo or Video</span>
                            <input type="file" name="files[]" id="js-upload-files" multiple hidden>
                        </label>
                    </form>
                </div>
                <div class="share-save">
                    <div class="save">
                        <a href="#" id="download-image" download="#">
                            <img src="{{ url_for('static', filename='img/ic_save.png') }}" alt="" height="12px" width="12px">
                            <span>Save</span>
                        </a>
                    </div>
                    <span>|</span>
                    <div class="share-upload-imae">
                        <span>Share</span>
                        <img src="{{ url_for('static', filename='img/facebook_button_share.png') }}" alt="" height="40px" width="40px">
                        <img src="{{ url_for('static', filename='img/twitter_button_share.png') }}" alt="" height="40px" width="40px">
                    </div>
                </div>
                <script src="{{ url_for('static', filename='js/uploader.js') }}"></script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}