<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block css %}
            <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/slick-theme.css') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/slick.css') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/mystyle.css') }}">
        {% endblock %}

        {% block js %}
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}

    {% endblock %}
</head>
<body>

{% include "header.html" %}
<div class="body">
{% block body %}

{% endblock %}
</div>
{% include "footer.html" %}

</body>
</html>
