<section>
    <div class="slider">
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075633.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075617.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075056.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075633.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075617.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075056.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075633.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075617.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
        <div>
            <div class="img-box">
                <img src="{{ url_for('static', filename='images/20180201_075056.jpg') }}" alt="" width="245px" height="185px"/>
            </div>
        </div>
    </div>
</section>